@charset "utf-8";

.sidebar {
    width: 150px;
    height: 100vh;
    background-color: #2d2d35;
    padding: 20px;
    padding-top: 80px;
    position: fixed;
    left: 0;
    overflow-y: auto;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sidebarImage {
    width: 55%;
    max-width: 200px;
    height: auto;
  }