@charset "utf-8";

.sidebar {
    position: fixed;
    width: 150px;
    height: 100vh;
    background-color: #2d2d35;
    padding: 20px;
    padding-top: 80px;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
}

.imageContainer {
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sidebarImage {
    padding: 15px;
    width: 100%;
    max-width: 200px;
    height: auto;
  }